@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
@import "_codes";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
  text-decoration: none;
  max-width: 100%;
  max-height: 100%;
  a {
    &:visited {
      color: black;
    }
  }
}
body {
  @include Flex(column, wrap, space-around, center);
  position: relative;
  height: 300vh;
  width: 100vw;
  #root {
    position: relative;
    background: linear-gradient(
      #ffea00,
      #ffdd00,
      #ffd000,
      #ffc300,
      #ffb700,
      #ffaa00,
      #ffa200,
      #ff9500,
      #ff8800,
      #ff7b00
    );
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
    #Home {
      @include Flex(column, nowrap, space-around, center);
      height: 100vh;
      width: 100vw;
      nav {
        width: 100vw;
        height: 10vh;
        @include Flex(row, wrap, space-around, center);
        font-size: 1.5em;
        &:nth-child(1-4) {
          flex: 1, 0 auto;
        }
        a {
          font-size: 1.5em;
          font-weight: bold;
          width: 25%;
          text-align: center;
          height: 45%;
          color: black;
          @media screen and (max-width: 600px) {
            font-size: 0.6em;
          }
          &:hover {
            background-color: white;
          }
        }
      }
      .logo {
        height: 50vh;
        width: 75vw;
        .Beak {
          transform: translate(0%, -60%);
          animation: beak 0.5s linear forwards;
        }
        .feather {
          opacity: 0;
          transform: translate(27.6%, 35%);

          &:nth-child(1) {
            opacity: 0;
            fill: green;
            animation: initialFeather1 1s forwards;
          }
          &:nth-child(2) {
            opacity: 0;
            transform: translate(-40%, 70%) rotate(35deg);
            transform-origin: bottom right;
            fill: red;
            animation: initialFeather2 1s forwards;
          }
          &:nth-child(3) {
            opacity: 0;
            transform: translate(75%, 27%) rotate(330deg);
            transform-origin: bottom left;
            fill: yellow;
            animation: initialFeather3 1s forwards;
          }
        }
        .wing1 {
          transform: translate(50%, 0%);
          animation: wings1 0.5s linear forwards;
        }
        .wing2 {
          transform: translate(-50%, 0%);
          animation: wings2 0.5s linear forwards;
        }
        @keyframes initialFeather1 {
          0% {
            opacity: 0;
            transform: translate(27.6%, 50%);
          }
          100% {
            opacity: 1;
            transform: translate(27.6%, 60%);
          }
        }
        @keyframes initialFeather2 {
          0% {
            opacity: 0;
            transform: translate(-40%, 70%) rotate(35deg);
          }
          100% {
            opacity: 1;
            transform: translate(-60.5%, 90%) rotate(35deg);
          }
        }
        @keyframes initialFeather3 {
          0% {
            opacity: 0;
            transform: translate(75%, 27%) rotate(330deg);
          }
          100% {
            opacity: 1;
            transform: translate(94%, 48%) rotate(330deg);
          }
        }
        @keyframes wings1 {
          0% {
            transform: translate(40%, 0%);
          }
          25% {
            transform: translate(30%, 0%);
          }
          50% {
            transform: translate(20%, 0%);
          }
          75% {
            transform: translate(10%, 0%);
          }
          100% {
            transform: translate(0%, 0%);
          }
        }
        @keyframes wings2 {
          0% {
            transform: translate(-40%, 0%);
          }
          25% {
            transform: translate(-30%, 0%);
          }
          50% {
            transform: translate(-20%, 0%);
          }
          75% {
            transform: translate(-10%, 0%);
          }
          100% {
            transform: translate(0%, 0%);
          }
        }
        @keyframes beak {
          0% {
            transform: translate(0%, -50%);
          }
          25% {
            transform: translate(0%, -40%);
          }
          50% {
            transform: translate(0%, -30%);
          }
          75% {
            transform: translate(0%, -20%);
          }
          100% {
            transform: translate(0%, 0%);
          }
        }
      }
      article {
        background-color: white;
        .links {
          top: 100%;
          align-self: flex-end;
          height: 10vh;
          width: 100vw;
          .linkedin {
            transform: translate(150%, 10%);
          }
          .github {
            transform: translate(-150%, 10%);
          }
        }
      }
    }
    #About {
      @include Flex(column, wrap, flex-start, center);
      height: 100vh;
      width: 100vw;
      div {
        h1 {
          position: relative;
          height: 10%;
          text-align: center;
          font-size: 3em;
          width: 100%;
        }
      }

      .Info {
        @include Flex(column, wrap, flex-start, center);
        position: relative;
        font-size: 1.6em;
        @media screen and (max-width: 600px) {
          font-size: 1.0725em;
          height: 90%;
        }
        text-align: center;
        height: 80%;
        letter-spacing: 0em;
        width: 75%;
        div {
          h4 {
            font-size: 1em;
            @media screen and (max-width: 600px) {
              font-size: 1.2em;
              margin-top: 0.1em;
              margin-bottom: 0.1em;
            }
          }
          p {
            color: black;
            @media screen and (max-width: 600px) {
              font-size: 0.925em;
            }
          }
        }
      }
      .AboutMe {
        position: absolute;
        width: 100%;
        bottom: 33.3%;
      }
    }
    #Technology {
      @include Flex(column, wrap, center, center);
      background-color: white;
      height: 50vh;
      width: 100vw;
      .techno {
        height: 10%;
      }
      .TechInfo {
        @include Flex(column, wrap, center, center);
        height: 90%;
        width: 100%;
        .techholder {
          @include Flex(column, wrap, center, center);
          height: 80%;
          width: 100%;
          .titleholder {
            @include Flex(row, wrap, center, center);
            height: 80%;
            width: 100%;
            .title {
              @include Flex(row, wrap, center, center);
              height: 75%;
              width: 100%;
              .imgholder {
                @include Flex(row, wrap, center, center);
                height: 100%;
                width: 100%;
                max-width: 50%;
                max-height: 75%;
                img {
                  max-width: 33%;
                  max-height: 80%;
                  align-self: center;
                  @media screen and (max-width: 600px) {
                    max-height: 80%;
                    max-width: 80%;
                  }
                }
              }
            }
          }
          .onetech {
            @include Flex(row, wrap, space-around, center);
            height: 20%;
            width: 100%;
            .techcard {
              @include Flex(column, wrap, center, center);
              height: 80%;
              width: 15%;
              @media screen and (max-width: 600px) {
                height: 80%;
                width: 22%;
              }
              h1 {
                width: 100%;
                height: 33%;
                text-align: center;
                @media screen and (max-width: 600px) {
                  font-size: 0.725em;
                  height: 60%;
                }
              }
            }
          }
        }
        .switch {
          @include Flex(row, wrap, center, flex-end);
          width: 100%;
          height: 20%;
          @media screen and (max-width: 600px) {
            width: 100%;
            height: 20%;
          }
          .switchhold {
            @include Flex(row, wrap, space-evenly, center);
            height: 70%;
            width: 50%;
            @media screen and (max-width: 600px) {
              height: 70%;
              width: 100%;
            }
            .svgholder {
              @include Flex(row, wrap, space-evenly, center);
              height: 100%;
              width: 25%;
              svg {
                height: 100%;
                width: 50%;
              }
            }
          }
        }
      }
    }
    #Projects {
      background-color: white;
      height: 50vh;
      width: 100vw;
      text-align: center;
      .all {
        @include Flex(row, wrap, space-evenly, center);
        height: 95%;
        width: 100%;
        a {
          @include Flex(column, wrap, center, center);
          height: 90%;
          max-width: 35%;
          max-height: 70%;
          border: 2px solid black;
          @media screen and (max-width: 600px) {
            max-width: 50%;
            max-height: 60%;
          }
          .project {
            @include Flex(column, wrap, center, center);
            height: 100%;
            width: 100%;
            font-size: 1em;
            div {
              @include Flex(column, wrap, flex-start, center);
              width: 70%;
              height: 100%;
              .projecttitle {
                height: 20%;
                color: white;
              }
              img {
                height: 60%;
                width: 100%;
              }
              h1 {
                font-size: 1.5em;
                @media screen and (max-width: 600px) {
                  font-size: 0.975em;
                }
              }
              p {
                position: relative;
                font-size: 1.33em;
                height: 50%;
                @media screen and (max-width: 600px) {
                  text-align: center;
                  font-size: 0.825em;
                  line-height: 91%;
                }
              }
            }
          }
        }
      }
    }
  }
}
